#main-about, #knuth {
  margin: 1.5rem .8rem 0;
  padding: 1rem .8rem;
  background-color: #a0622c;
  font-size: 1.2rem;
}
p {
  margin: .8rem auto;
}
.last {
  margin-bottom: 0;
}

/* image  */
#profile-img-holder {
  overflow: hidden;
  border-radius: 5%;
  width: 47vw;
  margin: 1.5rem auto;
  height: 47vw;
  color: #165764;
  box-shadow: .2rem .2rem 1rem;
}
#profile-img {
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
}
/* end of image */

/* about me section */
.about-me a {
  display: inline-block;
  margin:  0 .5rem;
}
#main-about, form {
  display: flex;
  flex-direction: column;
}

/* form */
form {
  margin: 1.5rem .8rem 0;
  background-color: #a0622c;
  font-size: 1.2rem;
}
form h2 {
  margin: 1rem 0;
}
form label {
  text-align: start;
  margin: 0 1rem;
}
form input, form textarea {
  cursor: text;
  margin: 0 1rem .5rem;
  padding: .2rem;
  font: 1.2rem "Orbitron", sans-serif;
  border-radius: .2rem;
  border: .1rem solid #3e363f;
}
form textarea {
  height: 10rem;
  resize: none;
}
form input[type="submit"] {
  margin: .5rem 0 0;
  height: 4rem;
  font: bolder 1.2rem "Rajdhani", sans-serif;
  text-transform: uppercase;
  background-color: #3e363f;
  color: #fffce8;
  width: 100%;
  border-color: #6bdce9;
  transition: all 1s;
  cursor: pointer;
}
form input[type="submit"]:hover {
  border-width: .5rem;
  font-size: 2rem;
}
form input[type="submit"]:active {
  transition: all 0s;
  color: #00ff00;
  border-color: #00ff00;
}
/* * link styles at bottom of CSS file */
/* end of about me section */

/* algorithm article */
aside{
  margin-bottom: 1.5rem;
}
aside h1 {
  font-size: 1.5em;
  margin: 0 0 1rem;
}
aside h2 {
  font-size: 1.2em;
}
#text-left-list {
  margin: .5rem 1rem;
  list-style-type :circle;
  text-align: left;
}
aside a {
  font-style: italic;
}
#link-to-top {
  text-decoration: underline;
}
/* end of article */

/* link divs */
#contact-links, #algorithm-links {
  font-style: italic;
  background-color: #3e363f;
  margin: 0 .8rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
#algorithm-links {
  flex-direction: column;
  align-items: center;
}
#algorithm-links a, #contact-links a{
  border: solid #3e363f;
  border-width: .1rem 0 .1rem;
}
#algorithm-links a:first-of-type {
  margin-bottom: .5rem;
}
/* end of link divs */

@media screen and (min-width: 600px) {
  main, aside {
    max-width: 60rem;
    margin: 1.5rem auto;
  }
  #profile-img-holder {
    max-height: 20rem;
    max-width: 20rem;
  }
  #main-about, #knuth {
    padding: .8rem 3.8rem;
  }
  #main-about, form, #knuth, #contact-links a, form input[type="submit"], #algorithm-links {
    font-size: 1.35rem;
  }
  form label, form input, form textarea {
    margin: 0 3.8rem .5rem;
  }
  .last {
    margin-bottom: 1.2rem;
  }
  form input[type="submit"] {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 800px) {
  #main-about, #knuth {
    padding: .8rem 5.8rem;
  }
  #main-about, form, #knuth, #contact-links a, form input[type="submit"], #algorithm-links {
    font-size: 1.5rem;
  }
  form label, form input, form textarea {
    margin: 0 5.8rem .5rem;
  }
  #contact-links a {
    margin: 0 1rem;
  }
}


@media screen and (min-width: 960px) {
  section > *:first-child, article > *:first-child {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
  }
  form, section > div:last-of-type, article > div:last-of-type, form input[type="submit"] {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
  }
}