main, aside {
  margin: 1.5rem .8rem 0;
  padding: 1rem .8rem;
  background-color: #a0622c;
  font-size: 1.2rem;
}
p {
  margin: .8rem auto;
}
/* image  */
#profile-img-holder {
  overflow: hidden;
  border-radius: 5%;
  width: 47vw;
  margin: 1.5rem auto;
  height: 47vw;
  color: #165764;
  box-shadow: .2rem .2rem 1rem;
}
#profile-img {
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
}
/* end of image */

/* about me section */
.about-me a {
  font-style: italic;
  display: inline-block;
  margin: 1rem .5rem 0;
}
aside a {
  font-style: italic;
}
#link-to-top {
  text-decoration: underline;
}
/* end of about me section */

/* algorithm article */
aside{
  margin-bottom: 1.5rem;
}
aside h1 {
  font-size: 1.5em;
  margin: 0 0 1rem;
}
aside h2 {
  font-size: 1.2em;
}
#text-left-list {
  margin: .5rem 1rem;
  list-style-type :circle;
  text-align: left;
}
/* end of article */