main, aside {
  
  margin: 1.5rem .8rem 0;
  padding: 1rem .8rem;
  background-color: #a0622c;
  font-size: 1.2rem;
}
aside h1 {
  font-size: 1.5em;
  margin: 0 0 1rem;
}
aside h2 {
  font-size: 1.2em;;
}
#profile-img-holder {
  overflow: hidden;
  border-radius: 5%;
  width: 47vw;
  margin: 1.5rem auto;
  height: 47vw;
  color: #165764;
  box-shadow: .2rem .2rem 1rem;
}
#profile-img {
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
}
.about-me a {
  display: inline-block;
  margin: 1rem .5rem 0;
}