/* content below game board */
#message, #learn-more, #learn-more-link {
  margin-top: .5rem;
  font-variant: small-caps;
}
aside.text-center {
  background-color: #a0622c;
}
#learn-more {
  padding: 0 1.5rem;
  font-size: 1.7rem;
  margin: -6.6rem 0 .5rem;
}
#learn-more-link {
  font-size: 1.7rem;
  font-style: italic;
  background-color: #3e363f;
  padding: .5rem 0;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 960px) {
  aside.text-center {
    border-radius: .2rem;
  }
  #learn-more-link {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
  }
}