/* game board start */
#game-board {
  margin: 1.5rem .8rem 0;
  padding: 0 .4rem;
  background-color: #c58e48;
  background: linear-gradient(#fffce822, #fffce822), URL("../images/wood-effect.jpg") no-repeat center center / cover;
  border: .2rem solid #854e1e;
  border-radius: .2rem;
}
#game-board button {
  border: none;
}

/* scores and times */
#scores-and-times {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.best {
  border-radius: .2rem;
  border: .2rem solid #3e363f;
  background-color: #854e1e;
  width: 4rem;
  position: relative;
  top: -.5rem;
}
.best.score {
  left: -.3rem;
}
.best.time {
  left: .3rem;
}
#best-time-value, #best-score-value {
  left: .6rem;
}
/* scores and times end */

/* rows */
.row {
  position: relative;
  display: grid;
  grid-template-columns: 16.25% 67.5% 16.25%;
  height: 3.2rem;
  margin-bottom: .3rem;
}
.row>* {
  height: 3.2rem;
  border-radius: .2rem;
  box-sizing: border-box;
}
.row>div:nth-of-type(2) {
  background-color: #a0622c;
  border: .2rem solid #854e1e;
}
.ball-spacing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-ball {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #854e1e;
}
.color-ball:not(#selector-box *) {
  box-sizing: border-box;
}
.color-ball:not(#selector-box *, .top *) {
  transition: background .4s ease-out, box-shadow .2s ease-in-out;
}

/* top row */
.top {
  margin-bottom: 1rem;
}
#solution span {
  position: absolute;
}
#solution-cover {
  position: absolute;
  left: 16.25%;
  width: 67.5%;
  background-color: #a0622c;
  background: URL("../images/horizontal-wood.jpg") no-repeat center / 100% 100%;
  border: .2rem solid #854e1e;
  transition: all .3s ease;
}
/* top row end */

/* guess rows */
.row:last-of-type {
  margin-bottom: 1rem;
}
.number {
  background-color: #854e1e;
  font-size: 1.8rem;
  line-height: 2.85rem;
  justify-self: center;
  border: .2rem solid;
  position: relative;
  width: 2.5rem;
}
.result-holder {
  position: relative;
}
.result {
  background-color: #854e1e;
  width: 3.2rem;
  justify-self: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: .3rem 0;
  position: absolute;
  height: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .2rem;
  box-sizing: border-box;
}
.peg {
  background-color: #a0622c;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.check-result {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #36B9D3;
  border-radius: .2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition-property: all, outline;
  transition-duration: .3s, 0s;
  transition-timing-function: ease-out;
}
.check-result:focus-visible {
  outline: solid .3rem #00ff00;
  z-index: 2;
}
.check-result img {
  height: 3rem;
  width: 3rem;
  position: relative;
  left: .1rem;
  top: .1rem;
}
.active-balls, .check-result img {
  cursor: pointer;
}
/* guess rows end */
/* rows end */
/* game-board end */

/* selector box */
#selector-box {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: .3rem 0;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3e363f;
  height: 7rem;
  visibility: hidden;
}
#selector-box button, form button * {
  box-sizing: content-box;
  cursor: pointer;
}
#clear-selector {
  position: absolute;
  margin: 0 auto;
  top: -5.2rem;
  background-color: #3e363f;
  height: 4.75rem;
  width: 8rem;
  padding: .275rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  font-variant: small-caps;
  font-size: 1.6rem;
}
#clear-selector .color-ball {
  margin: .2rem auto;
  display: block;
}
#clear-selector p {
  cursor: pointer;
}
#selector-box .color-ball {
  border: .2rem solid #fffce8;
}
label {
  user-select: none;
}
/* selector box end */
#message {
  color: #3e363f;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.4rem;
}

/* checkboxes */
/* credit https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
fieldset {
  border: none;
  position: relative;
  padding: 0;
}
fieldset legend {    
  font-size: 0;
  position: absolute;
  /* left: 50%; */
  width: 20%;
  right: 0;
  /* !add media query for larger screens */
}
#repeat-legend {
  height: 4.6rem;
}
#timer-score-legend {
  height: 7.2rem
}
.checkbox-hack, .plusminus-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 18rem;
  margin: .5rem auto;
}
.checkbox-hack label {
  cursor: pointer;
  max-width: 12rem;
}
.checkbox-hack input {
  visibility: hidden;
  height: 2.7rem;
  width: 2.7rem;
}
.checkmark {
  height: 2.5rem;
  width: 2.5rem;
  left: 0;
  background-color: #165764;
  border: solid .1rem #022b3a;
  border-radius: .2rem;
  position: absolute;
  cursor: pointer;
}
.checkbox-hack:hover input ~ .checkmark {
  background-color: #218397;
}
.checkbox-hack input:checked ~ .checkmark {
  background-color: #28a0b8;
}
.checkbox-hack input:checked ~ .checkmark:after {
  content:"";
  position: absolute;
  display: block;
  left: .64rem;
  height: 1.5rem;
  width: .75rem;
  border: solid #fffce8;
  border-width: 0 .5rem .5rem 0;
  border-bottom-right-radius: .25rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-hack input:disabled ~ .checkmark {
  background-color: #aaaaaa;
}
#global-settings > div {
  max-width: 14rem;
  margin-top: 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #3e363f;
}
#global-settings legend {
  margin-top: 1rem;
  height: 2.2rem;
}
.checkmark-width {
  width: 2.7rem;
  height: 2.7rem;
}
/* end of checkboxes */

#audio-error {
  font-weight: bold;
  color: #3e363f;
  max-width: 18rem;
  margin: 0 auto -1rem;
}