/* game board start */
#game-board {
  margin: 1.5rem .8rem 0;
  padding: 0 .4rem;
  background-color: #c58e48;
  background: linear-gradient(#fffce822, #fffce822), URL("../images/wood-effect.jpg") no-repeat center center / cover;
  border: .2rem solid #854e1e;
  border-radius: .2rem;
}
#game-board button {
  border: none;
  position: relative;
}

/* scores and times */
#scores-and-times {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.best {
  border-radius: .2rem;
  border: .2rem solid #3e363f;
  background-color: #854e1e;
  width: 4rem;
  position: relative;
  top: -.5rem;
}
.best.score {
  left: -.3rem;
}
.best.time {
  left: .3rem;
}
#best-time-value, #best-score-value {
  left: .6rem;
}
/* scores and times end */

/* rows */
.row {
  position: relative;
  display: grid;
  grid-template-columns: 16.25% 67.5% 16.25%;
  height: 2.6rem;
  margin-bottom: .3rem;
}
.row>* {
  height: 2.6rem;
  border-radius: .2rem;
  box-sizing: border-box;
}
.row>div:nth-of-type(2) {
  background-color: #a0622c;
  border: .2rem solid #854e1e;
}
.ball-spacing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-ball {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: #854e1e;
}
.color-ball:not(#selector-box *) {
  box-sizing: border-box;
}
.color-ball:not(#selector *, .top *) {
  transition: background .4s ease-out, box-shadow .2s ease-in-out;
}

/* top row */
.top {
  margin-bottom: 1rem;
}
#solution span {
  position: absolute;
}
#solution-cover {
  position: absolute;
  left: 16.25%;
  width: 67.5%;
  background-color: #a0622c;
  background: URL("../images/horizontal-wood.jpg") no-repeat center / 100% 100%;
  border: .2rem solid #854e1e;
  transition: all .3s ease;
}
/* top row end */

/* guess rows */
.row:last-of-type {
  margin-bottom: 1rem;
}
.number {
  background-color: #854e1e;
  font-size: 1.8rem;
  justify-self: center;
  border: .2rem solid;
  position: relative;
  width: 2.5rem;
}
.result-holder {
  position: relative;
}
.result {
  background-color: #854e1e;
  width: 3.2rem;
  justify-self: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: .3rem 0;
  position: absolute;
  height: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .2rem;
}
.peg {
  background-color: #a0622c;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}
.check-result {
  font-size: 2.5rem;
  justify-self: center;
  height: 2.6rem;
  width: 2.6rem;
  background-color: #36B9D3;
  border-radius: .2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition-property: all, outline;
  transition-duration: .3s, 0s;
  transition-timing-function: ease-out;
}
.check-result:focus-visible {
  outline: solid .3rem #00ff00;
  z-index: 2;
}
.check-result img {
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  left: .1rem;
  top: .1rem;
}
/* guess rows end */
/* rows end */
/* game-board end */

/* selector box */
#selector-box {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  /* margin: 4rem 0; */
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3e363f;
  height: 7rem;
  visibility: hidden;
}
#clear-selector {
  position: absolute;
  margin: 0 auto;
  top: -5rem;
  background-color: #3e363f;
  height: 4.45rem;
  width: 8rem;
  padding: .275rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  font-variant: small-caps;
  font-size: 1.6rem;
}
#clear-selector .color-ball {
  margin: .2rem auto;
}
#selector-box .color-ball {
  border: .2rem solid #fffce8;
}
/* selector box end */
#message {
  color: #3e363f;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.4rem;
}