/* top row */
.icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.icon-holder button, .icon-holder button ::before {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.8rem;
}

/* selector box */
#selector-box {
  margin: 4rem 0;
}

/* message */
#message {
  margin: -10.6rem 0 3rem;
}

/* settings */
nav span, button, input[type="submit"] {
  cursor: pointer;
  height: 2.7rem;
}
#settings {
  position: absolute;
  z-index: 3;
  top: 5.4rem;
  padding: 1rem 2rem 1.6rem;
  color: #3e363f;
  background-color: #fffce8;
  width: 100%;
  box-sizing: border-box;
  visibility: hidden;
}
#settings h2 {
  text-decoration: underline;
}
#settings h3 {
  margin: 1.2rem auto .6rem;
}
#settings label {
  display: inline-block;
  margin: 0 .5rem;
  font-size: 1.1rem;
}
input:not([type="submit"]) {
  text-align: center;
}
input[type="submit"] {
  width: 33%;
  margin-top: 1.4rem;
  font: small-caps bold 1.3rem / 1.3rem "Rajdhani", sans-serif;
}
button, input[type="submit"] {
  background-color: #165764;
  border-radius: .3rem;
  color: #fffce8;
}

/* remove spinner from numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.plusminus {
  width: 7.2rem;
}
.plusminus-label {
  max-width: 6rem;
}
.plusminus *:not(span) {
  display: inline;
  box-sizing: border-box;
  width: 25%;
  height: 1.9rem;
  font: 600 1.1rem "Rajdhani";
}
.plusminus input {
  border: none;
  background-color: #fffce8;
}
.plusminus button {
  height: 2.7rem;
  width: 2.7rem;
  /* z-index to prevent overlap from nuumber on focus border */
  z-index: 2;
}
.plusminus button:hover, input[type="submit"]:hover {
  background-color: #218397;
}
.plusminus button:focus, input[type="submit"]:focus {
  background-color: #28a0b8;
}
hr {
  border-color: #022b3a;
  border-width: 2px 0 0 0;
  margin: 0 auto;
  max-width: 30rem;
}
/* end of settings */