main {
  margin: 1.5rem .8rem;
  padding: 1rem .8rem;
  background-color: #a0622c;
  font-size: 1.2rem;
}
h2 {
  margin-bottom: .8rem;
}
.main-rules {
  margin: .5rem 0;
  text-align: justify;
}
.main-rules.first {
  margin-top: 1.2rem;
}
.main-rules.last {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: .8rem;
  text-align: center;
}
main img {
  margin: 1.5rem auto .3rem;
}