/* general */
main {
  margin: 1.5rem .8rem;
  font-size: 1.2rem;
}
section {
  background-color: #a0622c;
  padding: 1rem 1.8rem;
}
h2 {
  margin: .8rem 0;
}
.small-caps {
  font-variant: small-caps;
}
.bold {
  font-weight: 900;
}
/* end of general */

/* main rules at top */

/* internal nav links */

.internal-nav {
  background-color: #3e363f;
  margin: 0 -1.8rem;
  padding: 1rem 1.8rem;
  box-sizing: border-box;
}
.internal-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.internal-nav li {
  font-weight: 600;
  list-style-type: none;
  text-align: center;
  line-height: 2.2rem;
  /* flex-basis: 100%; */
  width: 100%;
}
.internal-nav li:first-of-type {
  text-align: left;
}
.internal-nav li:last-of-type {
  text-align: right;
}
.internal-nav a span {
  text-decoration: underline;
}
/* end of internal nav links */

.main-rules {
  margin: .5rem 0;
}
.main-rules.first {
  margin-top: 1.2rem;
}
.main-rules.last {
  font-size: larger;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: .8rem;
  border-bottom: solid .1rem #3e363f;
}
/* end of main rules */

/* images within rules */
main img {
  margin: 1.8rem auto .3rem;
  box-shadow: .2rem .2rem 1rem #165764;
  border-radius: .2rem;
  width: 100%;
}
main img:first-of-type {
  margin-top: 1.2rem;
}
/* end if images */

/* gameplay section */
.gameplay {
  margin-top: 1.5rem;
}
.gameplay p {
  margin-top: .5rem;
}
/* end of gameplay section */

/* specific items */
.ends-rule {
  margin-bottom: 0;
}
.ends-rule + p {
  margin-top: 0;
}
.text-left-list {
  margin: .5rem 1rem;
  list-style-type :circle;
  text-align: left;
}
img.icon, img.icon:first-of-type {
  margin: 0 .2rem;
  width: 1.6rem;
  vertical-align: bottom;
  box-shadow: none;
}
#challenge-link {
  text-decoration: underline;
  font-style: italic;
}
.return-link {
  font-style: italic;
  background-color: #3e363f;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}