/* general */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #fffce8;
  color: #fffce8;
  font-family: "Rajdhani", sans-serif;
}
/* header start */
header {
  color: #3e363f;
  background-color: #a0622c;
  font-family: "Orbitron", sans-serif;
  font-variant: small-caps;
  position: relative;
}
header img {
  padding: .5rem .5rem 0;
  width: 12.5%;
  height: 12.5%;
}
h1 {
  margin-top: -2.8rem;
}
header ul {
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem .4rem;
}
header li {
  list-style-type: none;
  padding: 0 .2rem .2rem;
}
/* header end */

/* game board start */
#game-board {
  margin: 1.5rem .8rem 0;
  padding: 0 .4rem;
  background: linear-gradient(#fffce822, #fffce822), URL("../images/wood-effect.jpg") no-repeat center center / 100% auto;
  border: .2rem solid #854e1e;
  border-radius: .2rem;
}

/* scores and times */
#scores-and-times {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.best {
  border-radius: .2rem;
  border: .2rem solid #3e363f;
  background-color: #854e1e;
  width: 4rem;
  position: relative;
  top: -.5rem;
}
.best.score {
  left: -.3rem;
}
.best.time {
  left: .3rem;
}
.current {
  position: absolute;
  top: 1.1rem;
  right: .8rem;
  border-top: .2rem solid #3e363f;
  border-bottom: .2rem solid #3e363f;
}
/* end of scores and times */

/* rows */
.row {
  position: relative;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 2.6rem;
  margin-bottom: .3rem;
}
.row>* {
  height: 2.6rem;
  border-radius: .2rem;
  box-sizing: border-box;
}
.row>div:nth-of-type(2) {
  background-color: #a0622c;
  border: .2rem solid #854e1e;
}
.ball-spacing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-ball {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: #854e1e;
}

/* top row */
.top {
  margin-bottom: 1rem;
}
#give-up, #hint {
  font-size: 1.8rem;
  line-height: 3rem;
}
#solution-cover {
  position: absolute;
  left: 15%;
  width: 70%;
  background: URL("../images/horizontal-wood.jpg") no-repeat center / 100% 100%;
  border: .2rem solid #854e1e;
  z-index: -1;
}
/* guess rows */
.row:last-of-type {
  margin-bottom: 1rem;
}
.number {
  background-color: #854e1e;
  font-size: 1.8rem;
  justify-self: center;
  border: .2rem solid;
  position: relative;
  width: 2.5rem;
}
.result {
  background-color: #854e1e;
  width: 3rem;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  padding: .3rem 0;
}
.result>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.peg {
  background-color: #a0622c;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}