/* general */
* {
  margin: 0;
  padding: 0;
  cursor: default;
}
*:focus-visible{
  outline: solid .4rem #00ff00;
}
html {
  min-height: 100%;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  /* fallback background color */
  background-color: #fffce8;
  background: linear-gradient(#fffce8 70%, #fffce899), url("../images/color-balls.jpg") repeat-x center bottom / auto 50%;
  color: #fffce8;
  font-family: "Rajdhani", sans-serif;
  min-height: 100%;
}

/* classes */
.flex-container {
  display: flex;
  align-items: center;
}
.lr-padding {
  padding: 0 .5rem;
}
.j-space-between {
  justify-content: space-between;
}
.hidden-aria-text {
  font-size: 0;
}

/* aria */
.tooltip-text {
  transform: scale(0);
  position: absolute;
  right: calc(100% + 5px);
  top: -5px;
  width: 120px;
  background-color: black;
  color: #fffce8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  text-transform: capitalize;
}

.tooltip-text-left {
  left: calc(4rem + 5px);
}

.tooltip-holder:hover .tooltip-text {
  transform: scale(1);
}

.hidden-value {
  position: absolute;
  height: 1rem;
  width: 2.7rem;
  top: .2rem;
}
/* end of aria */
/* end of classes */

/* header */
header {
  color: #fffce8;
  background-color: #3e363f;
  font-family: "Orbitron", sans-serif;
  font-variant: small-caps;
  position: relative;
}
#header-img-background {
  background: linear-gradient(to right, #fffce8 10%,  #3e363f00 55%);
  position: absolute;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 1.32rem;
  margin: .5rem;
}
#header-img {
  padding: .5rem .5rem 0;
  width: 3rem;
  height: 3rem;
  position: relative;
  z-index: 2;
  background: url(../images/color-brain-split.png) no-repeat center bottom / 3rem 3rem;
}
header h1 {
  margin-top: .5rem;
}
.current {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  /* width = image width - offset to center h1 without causing side scroll */
  width: 3.4rem;
  margin-top: 1rem;
  position: relative;
}
.current p {
  width: 3.5rem;
}
header ul {
  font-size: .9rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: .5rem .4rem;
}
header li {
  list-style-type: none;
  padding: 0 .2rem .2rem;
}
.nav-active {
  color: #6bdce9;
}
/* header end */

/* footer */
footer {
  margin-bottom: .2rem;
  text-align: center;
  color: #a0622c;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  font-variant: small-caps;
}
/* footer end */